body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: 7px;
	font-size: medium;
	padding: 5px;
}
.body-right input {
	margin-top: 8px;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background: grey;
	padding: 10px;
	margin-top: 10px;
	border: 5px;
}
input {
	border-bottom-color: grey;
	border-left: none;
	border-top: none;
	border-top: none;
	padding-right: 4px;
}
.body-right {
	margin-top: 13px;
	padding-left: 7px;
}
.body-right input {
	margin-top: 8px;
	margin-bottom: 20px;
}
